.has-error #mceu_16{
    border-color: #dd4b39 !important;
}

.form-group .bootstrap-select {
    display: block;
    width: 100% !important;
}
.bootstrap-select .btn-default {
    background-color: #ffffff;
    border-color: #d2d6de;
}

.mce-fullscreen {
    z-index: 1030;
}

.btn-search{
    height: 34px;
}

.img-cover {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
